:root {
  font-family: "Roboto", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  font-weight: normal;
  font-size: 1.5rem;
  --header-bg: #34435e;
  --font-text: #fff;
  --muted-text-color: #6c757d;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

picture > img {
  object-fit: cover;
}

/* Header */
header {
  position: relative;
  margin-bottom: 4rem;
}

header::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  background-color: var(--header-bg);
  z-index: -9999;
}

.head-container {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem 0 4rem;
}

.h-content-container {
  display: flex;
}

.h-content-container > * {
  flex: 1;
}

.h-photo-container {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--font-text);
}

figcaption > h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
}

.h-info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5rem;
  background-color: var(--font-text);
  padding: 2rem 1.5rem 2rem 1.5rem;
  max-width: 60ch;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.h-info-container article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.h-info-container p {
  color: var(--muted-text-color);
}

.h-socials-container {
  display: flex;
  justify-content: end;
}

.h-socials-container > ul {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.h-socials-container img {
  width: 48px;
  height: 48px;
}
